*
 {
    background-color: #fff;
    text-align: center;
    color: 111;
    font-family: "regular-clarivate";
    font-size: 30px;
}
::placeholder {
    color: lightgray;
    opacity: 1;
    font: "regular-clarivate";
  }
