{% extends "myapp/base.html" %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<div class = "container">
<h1>Only available restaurant so hopefully you like it!</h1>
<h2> {{ restaurant }} </h2>
<br> </br>
<form action={{url}}>
    <input type = "submit" class = "link" id="Submit" value = "Take me there!">
</form>
<div>
<input type=button class = "Prev-Rest-Submit" id="Submit" value="Previous Restaurant" onClick="javascript:history.go(-1);">
</div>
<form  method="POST"action="{% url "clear_cuisine" %}">
    {% csrf_token %}
    <button type ="submit" id="Submit" class="Clear-Cuisine-Submit">Clear Cuisine Choices
    </button>
</form>
<form  method="POST"action="{% url "home" %}">
    {% csrf_token %}
    <button type ="submit" id="Submit" class="Home-Submit">Home
    </button>
</form>
{% endblock %}