<!DOCTYPE html>
{% load static %}
<html>
<meta name = ”keywords” content = ”deliverooulette, random, takeaway, picker, random takeaway picker, random deliveroo, random restaurant, random takeaway, restaurant, food, random food, random food picker, random food generator, random takeaway generator, random restaurant generator" />
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KR9K6HCXWT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KR9K6HCXWT');
</script>
    <title>Deliverooulette</title>
    <link rel="stylesheet" type="text/css"
        href = "{% static "/css/style.css"%}">
    <link rel="shortcut icon" type="image/x-icon"
        href= "{% static "/css/favicon.ico" %} ">
</head>
<img src="{% static "/css/logo.png" %} " alt="Deliverooulette">
<body>
    <div id="content", name="content">
    {% block content %}

    {% endblock %}
    </div>
</body>
</html>
