{% extends "myapp/base.html" %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>Deliverooulette</title>
        
    </head>
    <body>
        <h2>A website to randomly pick an available deliveroo restaurant</h2>
        <div class = "Cuisine-Asker">
            <form method="POST" action="{% url 'cuisine_asker' %}">{% csrf_token %}
                <h1>Do you want to pick between cuisines?</h1>
                <input type = "submit" name="Cuisine-Asker-Submit" value="Yes" id="Submit">
                </label>
            </form>
        </div>
        <h2> If not just enter your postcode and press submit! </h2>
        <div class ="Postcode-Sumitter">
            <form method="POST" action="{% url 'rand_rest' %}">{% csrf_token %}
            <input type="text" name="Postcode" maxlength="8" placeholder = "E.g. SW1A 2AA" required = True id="Postcode-Text" autocomplete="postcode">
            <input type="submit" name="submit" id="Postcode-Submit">
            </form>
        </div>
    </body>
</html>
{% endblock %}

