{% extends "myapp/base.html" %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>Deliverooulette</title>
        
    </head>
    <body>
        <div class = "Cuisine-Asker">
            <form method="POST" action="{% url 'cuisine_asker' %}">{% csrf_token %}
                <p>Do you want to pick between cuisines?</p> 
                <input type = "submit" name="submit" value="Yes">
                </label>
            </form>
        </div>
        <h2> If not just enter your postcode and press submit! </h2>
        <div class ="Postcode-Sumitter">
            <form method="POST" action="{% url 'rand_rest' %}">{% csrf_token %}
            <input type="text" name="Postcode" maxlength="8" placeholder = "SW1A 2AA" required = True>
            <input type="submit" name="submit">
            </form>
        </div>
    </body>
</html>
{% endblock %}

