{% extends "myapp/base.html" %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<div class CheckboxSelectMultipile>
    <form method="POST" action="{% url 'cuisine_choices_func' %}">
        {% csrf_token %}
        {% for cuisine in cuisines %}
        <input type= "checkbox" id = "checkbox" value = "{{cuisine}}" name = "my_cuisine_list[]">
        {{cuisine}}
        {% if forloop.counter|divisibleby:3 %}
            <br> </br>
        {% endif %}
        {% endfor %}
    <h2> After you are happy with your choices, enter your Postcode then press submit! </h2>
    <small> If you choose a cuisine in your area that no restaurant does, it will instead generate a random restaurant of any cuisine </small>
    <input type="text" name="Postcode" maxlength="8" placeholder = "E.g. SW1A 2AA" required = True id="Postcode-Text" autocomplete="postcode">
    <input type="submit" name="submit" id="Postcode-Submit">
    </form>
</div>
<div>
<form  method="POST"action="{% url "home" %}">
        {% csrf_token %}
        <button type ="submit" class="Home" id="Submit">I don't want to pick between cuisines anymore
        </button>
</form>
</div>

<div>
<form  method="POST"action="{% url "home" %}">
    {% csrf_token %}
    <button type ="submit" class="Home" id="Submit">Home
    </button>
</form>
</div>
{% endblock %}