{% extends "myapp/base.html" %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<div class CheckboxSelectMultipile>
    <form method="POST" action="{% url 'cuisine_choices_func' %}">
        {% csrf_token %}
        {% for cuisine in cuisines %}
        <input type= "checkbox" id = "checkbox" value = "{{cuisine}}" name = "my_cuisine_list[]">
        {{cuisine}}
        {% if forloop.counter|divisibleby:3 %}
            <br> </br>
        {% endif %}
        {% endfor %}
    <button type ="submit" value = "submit" id="Submit">Submit choices</button>
    </form>
</div>
<div>
<form  method="POST"action="{% url "home" %}">
        {% csrf_token %}
        <button type ="submit" class="Home" id="Submit">I don't want to pick between cuisines anymore
        </button>
</form>
</div>

<div>
<form  method="POST"action="{% url "home" %}">
    {% csrf_token %}
    <button type ="submit" class="Home" id="Submit">Home
    </button>
</form>
</div>
{% endblock %}